/* Custom Responsive Grid Columns Mobile First Approach */

@mixin grid-cols($cols) {
    $width: 100% / $cols;

    .col-md-20 {
        flex: 0 0 $width !important;
        max-width: $width !important;
    }

    .col-md-40 {
        flex: 0 0 $width * 2 !important;
        max-width: $width * 2 !important;
    }

    .col-md-60 {
        flex: 0 0 $width * 3 !important;
        max-width: $width * 3 !important;
    }

    .col-md-80 {
        flex: 0 0 $width * 4 !important;
        max-width: $width * 4 !important;
    }

    .col-md-100 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* >= 350px (2 Cols) */
@media (min-width: 350px) {
    @include grid-cols(2);
}

/* >= 700px (3 Cols) */
@media (min-width: 700px) {
    @include grid-cols(3);
}

/* >= 992px (4 Cols) */
@media (min-width: 992px) {
    @include grid-cols(4);
}

/* >= 1200px (5 Cols) */
@media (min-width: 1200px) {
    @include grid-cols(5);
}