// Theme Colors
$primary: #000066;
$secondary: #6c757d;
$warning: #ffc107;

// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;