/* Estilos específicos da página de produto */
.sticky-top {
    position: sticky;
}

.thumbnail.active img {
    border-color: var(--bs-primary);
    border-width: 2px;
}

.thumbnail:hover img {
    opacity: 1 !important;
}

.card-product {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-product:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}